.feed {
    display: flex ;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}

.filters {
    display: flex;
    margin-bottom: 1em;
}

@media screen and (max-width:480px) {
    .feed {
        margin-top: 10em;
    }
}